body{
    overflow:hidden;
	
	
}


#clouds, #sky, #night, #stars{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
}
#sky{
    background:#fff url(../images/sky.png) repeat-x top left;
    z-index:1;
}

#clouds{
    background:transparent url(../images/clouds.png) repeat-x top left;
    z-index:3;
}
#stars{
    bottom:200px;
    background:transparent url(../images/stars.png) repeat bottom center;
    z-index:5;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

#ground{
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:232px;
    background:transparent url(../images/ground.png) repeat-x bottom center;
    z-index:3;
}
#tittle{
    position:absolute;
    left:350px;
    top:-100px;
    width:650px;
    height:350px;
    background:transparent url(../images/tittle.png) no-repeat center center;
    z-index:6;
	   opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#penguin{
    position:absolute;
    left:400px;
    top:100px;
    width:500px;
    height:350px;
    background:transparent url(../images/penguin.png) no-repeat center center;
    z-index:6;
	   opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#facil{
    position:absolute;
    left:391px;
    top:390px;
    width:143px;
    height:41px;
    background:transparent url(../images/menu.png) no-repeat center center;
    z-index:6;
	   opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#intermedio{
    position:absolute;
    left:580px;
    top:390px;
    width:143px;
    height:41px;
    background:transparent url(../images/juega.png) no-repeat center center;
    z-index:6;
	   opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
